header{
    background: #ea5b31;
    padding: 10px 0 10px 10px
}

.logo-and-title{
    display: inline-block;
}

h1{
    color: white;
    display: inline-block;
    vertical-align: bottom;
}

.login-signup{
    float: right;
    margin-right: 1%;
    margin-top: 5px;
}