<form>
    <div class="ui-inputgroup">
      <p>Login as :
        <span>
           <input type = "radio" name="login-type" id="customer">
           <label for = "customer"> customer </label>
        </span>
        <span>
            <input type = "radio" name="login-type" id="chef">
            <label for = "chef"> chef</label>
         </span>
      </p>
    </div>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">
      <i class="fa fa-user"></i>
    </span>
    <input type="text" pInputText placeholder="Username">
  </div>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">
      <i class="fa fa-lock"></i>
    </span>
    <input type="text" pInputText placeholder="Password">
  </div>
  <div class="ui-inputgroup">
  <button type="submit" pButton label="Login"></button>
  </div>
</form>